<md-toolbar class="nav-toolbar mat-elevation-z6" *appIfAuthenticated>
    <a md-button class="nav-link" routerLinkActive="nav-link__active" [routerLink]="['/home']">
        <i class="material-icons">web</i>Zabbix Reporter
    </a>
    <a md-button class="nav-link" routerLinkActive="nav-link__active" [routerLink]="['/mailing-lists']">
        <i class="material-icons">email</i>Mailing list</a>
    <a md-button class="nav-link" routerLinkActive="nav-link__active" [routerLink]="['/report-schedule']">
        <i class="material-icons">schedule</i>Report schedule</a>
    <button md-button (click)="logout()">Logout</button>
</md-toolbar>