<div class="login center-block">
    <h1 class="login__header">Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="row">
            <md-input-container class="col-xs-6">
                <input mdInput #username placeholder="Username">
            </md-input-container>
            <md-input-container class="col-xs-6">
                <input type="password" mdInput #password placeholder="Password">
            </md-input-container>
        </div>
        <button type="submit" md-raised-button color="primary">Submit</button>
        <a md-raised-button [routerLink]="['/signup']">Click here to Signup</a>
        <p class="alert alert-danger login-error" *ngIf="error">{{error.message}}</p>
    </form>
</div>
