.reports-schedule-title {
  text-align: center;
  margin-bottom: 20px;
}

.reports-schedule-table__head {
  width: 25%;
}

.reports-schedule-table__body {
  vertical-align: middle;
}

.submit-interval {
  background-color: #3f51b5;
}