<h1 class="mailing-list-title">Configure Mailing Lists</h1>
<md-list class="mailing-list" *ngIf="mailingList">
  <md-input-container class="mailing-list__input-container input_container">
    <input mdInput type="email" #email placeholder="Add new email" autofocus
           pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
           (keyup.enter)="addEmail(email, emailSubmit)"
           [(ngModel)]="newEmailText" >
    <button #emailSubmit md-icon-button class="input_container__submit" (click)="addEmail(email)"><md-icon>done</md-icon></button>
    <md-error>Incorrect email address</md-error>
  </md-input-container>
  <md-list-item *ngFor="let email of mailingList">
    <md-input-container class="mailing-list__edit-container" *ngIf="email.editing">
      <input mdInput ref-editedEmail
             pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
             [value]="email.value"
             (keyup.enter)="updateEditingEmail(email, editedEmail.value, !editedEmail.validationMessage)"
             (keyup.escape)="cancelEditingEmail(email)"
             (blur)="updateEditingEmail(email, editedEmail.value, !editedEmail.validationMessage && email.editing)">
    </md-input-container>
    <h4 md-line *ngIf="!email.editing" (click)="editEmail(email)">{{email.value}}</h4>
    <button md-icon-button *ngIf="!email.editing" (click)="editEmail(email)"><md-icon>edit</md-icon></button>
    <button md-icon-button *ngIf="email.editing" (click)="completeEditingEmail(email)"><md-icon>done</md-icon></button>
    <button md-icon-button (click)="removeEmail(email)"><md-icon>delete</md-icon></button>
  </md-list-item>
</md-list>